.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

@media only screen and (max-width: 56.25em) {
    .section-about {
        padding: 20rem 0;
    }
}

/*Composition Photo*/

.composition {
    position: relative !important;
}

.composition__photo {
    width: 55% !important;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4) !important;
    border-radius: 2px !important;
    position: absolute !important;
    z-index: 10 !important;
    transition: all .2s !important;
    outline-offset: 1rem !important;
}

@media only screen and (max-width: 56.25em) {
    .composition__photo {
        float: left !important;
        position: relative !important;
        width: 33.33333333% !important;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2) !important;
    }
}

.composition__photo--p1 {
    left: 0;
    top: -2rem;
}

@media only screen and (max-width: 56.25em) {
    .composition__photo--p1 {
        top: 0;
        transform: scale(1.2);
    }
}

.composition__photo--p2 {
    right: 0;
    top: 2rem;
}

@media only screen and (max-width: 56.25em) {
    .composition__photo--p2 {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
    }
}

.composition__photo--p3 {
    left: 20%;
    top: 10rem;
}

@media only screen and (max-width: 56.25em) {
    .composition__photo--p3 {
        left: 0;
        top: 1rem;
        transform: scale(1.1);
        
    }
}

.composition__photo:hover {
    outline: 1.5rem solid #2999ff;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95) !important;
}
/*End Composition Photo*/